@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

section:nth-of-type(n + 2) {
  position: relative;
}

section:nth-of-type(n + 2)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.1;
  background-image: url('/src/asset/texture.jpg');
}

p {
  text-indent: 2ch;
}

div img {
  object-fit: unset;
}
